absl-py==2.1.0
aiofiles==23.2.1
aiohttp
aiosignal==1.3.1
aiosqlite==0.19.0
altair==5.2.0
aniso8601==9.0.1
anki==2.1.66
annotated-types==0.6.0
anthropic==0.49.0
anyio==4.9.0
appdirs==1.4.4
appnope==0.1.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.4.1
ask-sdk-model==1.82.0
asn1crypto==1.5.1
astor==0.8.1
astral==3.2
asttokens==2.2.1
async-lru==2.0.4
async-timeout==4.0.3
asyncio==3.4.3
attrs==23.1.0
audioread==3.0.0
Babel==2.12.1
backcall==0.2.0
backoff==2.2.1
bcrypt==4.0.1
beautifulsoup4==4.13.4
bidict==0.22.1
BingImageCreator==0.5.0
black==21.9b0
bleach==6.0.0
blessed==1.20.0
blinker==1.6.2
blobfile
blosc2==2.5.1
bokeh==3.3.4
bootstrap4==0.1.0
boto3
botocore
branca==0.7.1
Brotli==1.1.0
bs4==0.0.1
cached-property==1.5.2
cachetools==5.2.0
certifi
cffi==1.15.1
charset-normalizer
chevron==0.14.0
Chroma==0.2.0
chroma-hnswlib==0.7.3
chromadb==0.4.14
click==8.1.7
cohere==4.31
colorama==0.4.1
coloredlogs==15.0.1
comm==0.1.4
confusable-homoglyphs==3.2.0
contextlib2==21.6.0
contourpy==1.1.0
courlan==0.9.4
cryptography==41.0.3
cssutils==2.11.1
cycler==0.11.0
dalle3==0.0.8
dataclasses-json==0.6.1
dateparser==1.1.8
debugpy==1.6.7.post1
decorator==4.4.2
deepdiff==6.7.1
defusedxml==0.7.1
Deprecated==1.2.14
detoxify==0.5.2
diffusers==0.21.4
distlib==0.3.7
distro==1.8.0
Django==3.2.5
django-crispy-forms==1.13.0
django-crontab==0.7.1
django-debug-toolbar==3.2.2
django-environ==0.7.0
django-multiselectfield==0.1.12
django-phonenumber-field==6.0.0
django-registration==3.2
django-static-jquery3==5.1.0
django-yearmonth-widget==0.2.1
djangorestframework==3.13.1
dm-env==1.6
dm-tree==0.1.8
dnspython==2.4.2
docker==6.1.3
docstring_parser==0.16
duckduckgo-search==3.9.3
EbookLib==0.18
EdgeGPT==0.13.2
einops==0.7.0
enum34==1.1.10
ephem==4.1.5
et-xmlfile==1.1.0
eval_type_backport==0.2.0
executing==1.2.0
factory-boy==3.2.1
faiss-cpu==1.7.4
Faker==13.3.2
fastapi
fastavro==1.8.2
fastcore==1.5.37
fastjsonschema==2.18.0
feedparser==6.0.10
ffmpy==0.3.2
filelock==3.14.0
flasgger==0.9.7.1
Flask==2.3.2
Flask-Cors==4.0.0
flask-restx==1.2.0
Flask-SocketIO==5.3.4
Flask-SQLAlchemy==3.1.1
flatbuffers==23.5.26
folium==0.16.0
fonttools==4.34.4
fqdn==1.5.1
frozendict==2.3.8
frozenlist==1.4.0
fsspec==2023.6.0
future==1.0.0
genanki==0.13.0
geographiclib==2.0
geopy==2.3.0
ggl==1.1.0
gguf==0.5.1
git-python==1.0.3
gitdb==4.0.11
GitPython==3.1.40
google-ai-generativelanguage==0.6.3
google-api-core==2.25.1
google-api-python-client==2.107.0
google-auth==2.40.3
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.1.0
google-cloud-aiplatform==1.104.0
google-cloud-bigquery==3.14.1
google-cloud-core==2.4.1
google-cloud-resource-manager==1.11.0
google-cloud-storage==2.14.0
google-cloud-texttospeech==2.16.3
google-crc32c==1.5.0
google-genai==1.26.0
google-generativeai==0.5.3
google-resumable-media==2.7.0
googleapis-common-protos==1.61.0
gradio==5.22.0
gradio_client==1.8.0
greenlet==3.0.0
griptape==0.18.2
groovy==0.1.2
groq==0.20.0
grpc-google-iam-v1==0.13.0
grpcio==1.59.0
grpcio-status==1.59.0
gTTS==2.3.2
h11==0.16.0
h2==4.1.0
h3==3.7.6
h5py==3.10.0
hpack==4.0.0
htmldate==1.4.3
httpcore
httplib2==0.22.0
httptools==0.6.1
httpx
huggingface-hub
humanfriendly==10.0
hypercorn==0.14.4
hyperframe==6.0.1
idna
imageio==2.31.1
imageio-ffmpeg==0.4.8
importlib-metadata==6.8.0
importlib-resources==6.1.0
iniconfig==2.0.0
inquirer==3.1.3
ipykernel==6.25.1
ipython==8.14.0
ipython-genutils==0.2.0
ipywidgets==8.1.0
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.19.0
Jinja2==3.1.2
jiter==0.9.0
jmespath==1.0.1
joblib==1.3.2
json5==0.9.14
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.20.0
jsonschema-specifications==2023.7.1
jupyter-events==0.9.0
jupyter-lsp==2.2.0
jupyter-ydoc==0.3.4
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyter_server==2.11.1
jupyter_server_fileid==0.9.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.8.0
jupyterlab==4.0.5
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.8
jupyterlab_server==2.24.0
jupytext==1.15.2
jusText==3.0.0
kiwisolver==1.4.4
langchain==0.0.319
langchain-experimental==0.0.32
langcodes==3.3.0
langsmith==0.0.47
lazy_loader==0.3
librosa==0.10.1
litellm==0.8.6
llvmlite==0.40.1
loguru==0.7.2
lxml==4.9.3
Markdown==3.4.4
markdown-it-py==3.0.0
markdown2==2.4.10
MarkupSafe==2.1.3
marqo==1.3.1
marshmallow==3.20.1
marshmallow-enum==1.5.1
marshmallow-sqlalchemy==0.29.0
matplotlib
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.0
mdurl==0.1.2
mistralai==0.0.8
mistune==3.0.1
mock==5.1.0
monotonic==1.6
month==1.2.0
more-itertools==10.5.0
moviepy==1.0.3
mplfinance==0.12.10b0
mpmath==1.3.0
mpyq==0.2.5
msgpack==1.0.5
multidict==6.0.4
mypy-extensions==0.4.3
nbclassic==1.0.0
nbclient==0.8.0
nbconvert==7.7.3
nbformat==5.9.2
ndindex==1.8
nest-asyncio==1.5.7
networkx==3.2
notebook==7.0.2
notebook_shim==0.2.3
numba==0.57.1
numexpr==2.9.0
numpy
oauthlib==3.2.2
onnxruntime==1.16.1
ooba==0.0.21
open-interpreter==0.1.10
openai==1.68.2
openpyxl==3.1.2
opensearch-py==2.3.1
ordered-set==4.1.0
orjson==3.9.10
oscrypto==1.3.0
outcome==1.3.0
overrides==7.4.0
packaging
pandas
pandas-datareader==0.10.0
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.9.0
pdf2image==1.16.3
pegasusX==0.2.5
pexpect==4.8.0
pgvector==0.2.3
phonenumbers==8.12.39
pickleshare==0.7.5
pillow
pinecone-client==2.2.4
platformdirs==3.10.0
playwright==1.39.0
pluggy==1.3.0
pooch==1.7.0
portpicker==1.6.0
posthog==3.0.2
priority==2.0.0
proglog==0.1.10
prometheus-client==0.17.1
prompt-toolkit==3.0.39
proto-plus==1.22.3
protobuf==4.24.3
psutil==5.9.5
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pulsar-client==3.3.0
pure-eval==0.2.2
pvlib==0.10.3
py-cpuinfo==9.0.0
pyarrow==16.1.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybind11==2.12.0
pycaption==1.0.1
pycparser==2.21
pycryptodomex==3.18.0
pydantic
pydantic_core
pydub==0.25.1
pyee==11.0.1
pygame==2.5.2
PyGithub==1.59.1
Pygments==2.16.1
PyJWT==2.8.0
pymongo==4.5.0
PyNaCl==1.5.0
pyOpenSSL==23.2.0
pyparsing==3.0.9
PyPDF2==3.0.1
PyPika==0.48.9
pyrsistent==0.20.0
PySC2==4.0.0
PySocks==1.7.1
pytest==7.4.2
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==1.0.0
python-editor==1.0.4
python-engineio==4.7.1
python-fasthtml==0.0.2
python-json-logger==2.0.7
python-multipart
python-socketio==5.9.0
pytube==15.0.0
pytz==2021.1
PyYAML==6.0.1
pyzipper==0.3.6
pyzmq==25.1.1
readchar==4.0.5
redis==4.6.0
referencing==0.30.2
regex==2023.6.3
replicate==1.0.7
requests
requests-aws4auth==1.2.3
requests-oauthlib==1.3.1
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.6.0
rpds-py==0.9.2
rsa==4.9
ruff==0.11.2
s2clientprotocol==5.0.12.91115.0
s2protocol==5.0.12.91115.0
s3transfer==0.10.0
safehttpx==0.1.6
safetensors==0.5.3
schema==0.7.5
scikit-learn==1.3.0
scipy
seaborn==0.12.2
selenium==4.14.0
semantic-version==2.10.0
Send2Trash==1.8.2
sentencepiece==0.1.98
sgmllib3k==1.0.0
shapely==2.0.2
shellingham==1.5.4
simple-websocket==0.10.1
six==1.16.0
sk-video==1.1.10
smmap==5.0.1
sniffio==1.3.0
snowflake-connector-python==3.3.1
snowflake-sqlalchemy==1.5.0
socksio==1.0.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.2.1
soxr==0.3.6
SQLAlchemy
sqlalchemy-redshift==0.8.14
sqlparse==0.4.1
sseclient-py==1.8.0
stack-data==0.6.2
starlette==0.46.1
stopit==1.1.2
stringcase==1.2.0
structlog==22.3.0
sympy==1.12
tables==3.9.2
tabulate==0.9.0
tenacity==8.5.0
termcolor==2.3.0
terminado==0.17.1
threadpoolctl==3.2.0
tiktoken==0.4.0
timezonefinder==6.2.0
tinycss2==1.2.1
tld==0.13
together==1.1.5
tokenizers
tokentrim==0.1.10
toml==0.10.2
tomli==1.2.1
tomlkit==0.12.0
toolz==0.12.1
torch
torchvision
tornado==6.3.3
tqdm==4.66.4
trafilatura==1.6.1
traitlets==5.9.0
transformers
trio==0.22.2
trio-websocket==0.11.1
twilio==7.3.2
typer==0.12.3
typing-inspect==0.9.0
typing_extensions
tzdata==2023.3
tzlocal==5.1
ujson==5.10.0
undetected-chromedriver==3.5.3
uri-template==1.3.0
uritemplate==4.1.1
urllib3
uvicorn==0.23.2
uvloop==0.18.0
virtualenv==20.23.0
watchfiles==0.21.0
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.1
websockets==15.0.1
Werkzeug==2.3.6
wget==3.2
widgetsnbextension==4.0.8
wrapt==1.15.0
wsproto==1.2.0
xlwt==1.3.0
xyzservices==2023.10.1
y-py==0.6.0
yarl==1.9.2
yaspin==3.0.1
youtube-dl==2019.4.24
youtube-transcript-api==0.6.2
ypy-websocket==0.8.4
zipp==3.17.0
