openai
anthropic
tiktoken
structlog
cachetools
IPython
gtts
PyGithub
retrying
bs4
feedparser
PyPDF2
pydub
boto3
mistralai
google-cloud-aiplatform
google-cloud-texttospeech
lxml
pytz>=2024.1
groq
google.generativeai
